{% extends "user/index.html" %}
{% block content %}
<div class="text-center">
  <h1 class="text-primary-emphasis">Browse Recipes</h1>
  <p class="text-body-secondary">Please enter a search term in order to find recipes.</p>
  <hr class="text-center m-auto mb-2" width="50%" />
  <form class="row g-1 m-auto text-center d-flex justify-content-center mb-5">
    <div class="col-auto">
      <label for="input-term" class="visually-hidden">Search Term</label>
      <input type="text" name="term" class="form-control" id="input-term" placeholder="Search Term"
        value="{{ request.args.term or '' }}">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
  </form>

  {% if recipes %}
  <h2 class="text-primary-emphasis">Search Results</h2>
  <p class="text-body-secondary">Here are the recipes that match your search term.</p>
  <!-- {% for recipe in recipes %}
        {{ recipe.name }} ({{ recipe.desc }}) [{{ recipe._id }}] <br />
    {% endfor %} -->

  <div class="d-flex flex-wrap align-items-center justify-content-center">
    {% for recipe in recipes %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-success-emphasis">
          {{ recipe.name }}
        </h5>
        <p class="card-text border-dark-subtle border p-3 rounded-2 text-muted">{{ recipe.desc or "No description
          provided" }}</p>
        <a class="card-link text-warning-emphasis text-decoration-none">{{ recipe.ingredients | length }}
          Ingredients</a>
        <a class="text-decoration-none text-secondary">-</a>
        <a class="card-link text-warning-emphasis text-decoration-none">{{ recipe.steps | length }} Steps</a>
      </div>
      <button class="overlay" data-rid="{{ recipe._id }}">View</button>
    </div>
    {% endfor %}
  </div>

  {% endif %}
</div>
{% endblock %}